<div class="card text-white bg-weather-twitter">
  <div class="card-body pb-0">
    <div class="btn-group float-right">
      <button class="btn btn-transparent" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../../assets/twitch_weather.png" width="70">
      </button>
    </div>
    <div class="text-value">Weather & Twitter</div>
    <div style="margin-bottom: 10px; height: 90px;">Tweet the forecast of the day on your twitter account</div>

    <div class="brand-card-body" style="padding: 0;">
      <div>
        <button (click)="activate()" class="btn btn-brand btn-sm btn-spotify" type="button" style="margin: 10px 0 10px 0;">
          <span>Activer</span>
        </button>
      </div>
      <div>
        <button (click)="desactivate()" class="btn btn-brand btn-sm white" type="button" style="margin: 10px 0 10px 0; background-color:rgb(228, 78, 78);">
          <span>Desactiver</span>
        </button>
      </div>
    </div>
  </div>
</div>