<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

  <app-header></app-header>

  <div class="app-body">
    <app-sidebar></app-sidebar>

    <main class="main" *ngIf="isActiveTrigger1 == 1">
      <div class="card">
        <div class="card-header">
          <strong>Github Settings 1</strong></div>
        <div class="card-body">
          <div class="clearfix">
            <img class="float-left display-3 mr-4" src="../../../assets/github.png" width="100">
            <h2 class="pt-3">You need to activate Webhooks!</h2>
            <h4 class="text-muted">If you want to us this applet, be sure to activate first webhooks on your repository
              settings</h4>
            <p class="text-muted">This is your private key to configure webhooks...</p>
            <input class="form-control col-md-3" type="text" size="16" placeholder="What are you looking for?"
              value="33f16f11775a0c2a20d255617db915128a23e750" disabled>
          </div>
          <button (click)="github1()" class="btn btn-brand btn-sm btn-spotify" type="submit"
            style="margin: 10px 0 20px 0; text-align: center;">
            <span>Activer</span>
          </button>
        </div>
      </div>
    </main>

    <main class="main" *ngIf="isActiveTrigger2 == 1">
      <div class="card">
        <div class="card-header">
          <strong>Github Settings 2</strong></div>
        <div class="card-body">
          <div class="clearfix">
            <img class="float-left display-3 mr-4" src="../../../assets/github.png" width="100">
            <h2 class="pt-3">You need to activate Webhooks!</h2>
            <h4 class="text-muted">If you want to us this applet, be sure to activate first webhooks on your repository
              settings</h4>
            <p class="text-muted">This is your private key to configure webhooks...</p>
            <input class="form-control col-md-3" type="text" size="16" placeholder="What are you looking for?"
              value="33f16f11775a0c2a20d255617db915128a23e750" disabled>
          </div>
          <button (click)="github2()" class="btn btn-brand btn-sm btn-spotify" type="submit"
            style="margin: 10px 0 20px 0; text-align: center;">
            <span>Activer</span>
          </button>
        </div>
      </div>
    </main>

    <main class="main" *ngIf="isActiveTrigger3 == 1">
      <div class="card">
        <div class="card-header">
          <strong>Github Settings 3</strong></div>
        <div class="card-body">
          <div class="clearfix">
            <img class="float-left display-3 mr-4" src="../../../assets/github.png" width="100">
            <h2 class="pt-3">You need to activate Webhooks!</h2>
            <h4 class="text-muted">If you want to us this applet, be sure to activate first webhooks on your repository
              settings</h4>
            <p class="text-muted">This is your private key to configure webhooks...</p>
            <input class="form-control col-md-3" type="text" size="16" placeholder="What are you looking for?"
              value="33f16f11775a0c2a20d255617db915128a23e750" disabled>
          </div>
          <button (click)="github3()" class="btn btn-brand btn-sm btn-spotify" type="submit"
            style="margin: 10px 0 20px 0; text-align: center;">
            <span>Activer</span>
          </button>
        </div>
      </div>
    </main>

    <main class="main" *ngIf="isActiveTrigger4 == 1">
      <div class="card">
        <div class="card-header">
          <strong>Github Settings 4</strong></div>
        <div class="card-body">
          <div class="clearfix">
            <img class="float-left display-3 mr-4" src="../../../assets/github.png" width="100">
            <h2 class="pt-3">You need to activate Webhooks!</h2>
            <h4 class="text-muted">If you want to us this applet, be sure to activate first webhooks on your repository
              settings</h4>
            <p class="text-muted">This is your private key to configure webhooks...</p>
            <input class="form-control col-md-3" type="text" size="16" placeholder="What are you looking for?"
              value="33f16f11775a0c2a20d255617db915128a23e750" disabled>
          </div>
          <button (click)="github4()" class="btn btn-brand btn-sm btn-spotify" type="submit"
            style="margin: 10px 0 20px 0; text-align: center;">
            <span>Activer</span>
          </button>
        </div>
      </div>
    </main>

    <main class="main" *ngIf="isActiveTrigger5 == 1">
      <div class="card">
        <div class="card-header">
          <strong>Github Settings 5</strong></div>
        <div class="card-body">
          <div class="clearfix">
            <img class="float-left display-3 mr-4" src="../../../assets/github.png" width="100">
            <h2 class="pt-3">You need to activate Webhooks!</h2>
            <h4 class="text-muted">If you want to us this applet, be sure to activate first webhooks on your repository
              settings</h4>
            <p class="text-muted">This is your private key to configure webhooks...</p>
            <input class="form-control col-md-3" type="text" size="16" placeholder="What are you looking for?"
              value="33f16f11775a0c2a20d255617db915128a23e750" disabled>
          </div>
          <button (click)="github5()" class="btn btn-brand btn-sm btn-spotify" type="submit"
            style="margin: 10px 0 20px 0; text-align: center;">
            <span>Activer</span>
          </button>
        </div>
      </div>
    </main>

    <main class="main" *ngIf="isActiveTrigger6 == 1">
        <div class="card">
          <div class="card-header">
            <strong>Github Settings 6</strong></div>
          <div class="card-body">
            <div class="clearfix">
              <img class="float-left display-3 mr-4" src="../../../assets/github.png" width="100">
              <h2 class="pt-3">You need to activate Webhooks!</h2>
              <h4 class="text-muted">If you want to us this applet, be sure to activate first webhooks on your repository settings</h4>
              <p class="text-muted">This is your private key to configure webhooks...</p>
              <input class="form-control col-md-3" type="text" size="16" placeholder="What are you looking for?" value="33f16f11775a0c2a20d255617db915128a23e750" disabled>
            </div>
            <button (click)="github6()" class="btn btn-brand btn-sm btn-spotify" type="submit"
              style="margin: 10px 0 20px 0; text-align: center;">
              <span>Activer</span>
            </button>
          </div>
        </div>
      </main>

  </div>

  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
  <script src="node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>
  <script src="node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
  <script src="asset/main.js"></script>
</body>